<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
<!-- <style>
.ovalo{width:300px; height:100px; background:#f90:}
.ovalo a{display:block; width:300px height:100px;}	
</style> -->
<div class="ovalo" id="amarillo"><a href"#">test</a></div>
